

@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Ubuntu:400,500|Lobster|Quicksand:700|Pacifico|Dancing+Script|Architects+Daughter|Orbitron:400,700,900|Bangers|Chewy|Gloria+Hallelujah|Kaushan+Script|Lobster+Two|Russo+One|Satisfy|Covered+By+Your+Grace|Roboto+Mono|Courgette|Fredoka+One|Permanent+Marker|Rock+Salt|Cookie|Special+Elite|Lobster|Damion|Black+Ops+One|VT323|Fredericka+the+Great|Ceviche+One|Fontdiner+Swanky|Finger+Paint|Monoton|Rochester|Grand+Hotel|Slackey);
@font-face {
    font-family: VeniceSerif;
    src: url(VeniceSerif-Regular.otf);
}

@font-face {
    font-family: Octomorf;
    src: url(OctomorfFF/octomorf.ttf);
}

.schetchik{visibility: hidden;
    z-index:2;
    position:absolute; top:12%; left: 90%;
    width:55px; height:5%;
}

nav a.active, nav a:hover {
    background: #d1d1d1;
    color:#27ae60;
}

nav.main-nav {
    /*background:#fff;*/
    
    background: #262626;
    width:100%;
    height:60px;
    border-bottom:1 pxsolid #dadada;
    text-align: center;
    
    
    
}

nav.main-nav a {
    font-family: 'Ubuntu', sans-serif;
    font-size:25px;
    height:30px;
    text-decoration:none;
    display:inline-block;
    padding:15px 19px;
    color:#38ae60;


}



    .menu {
        display: inline;
        margin:0 auto;

    }

    nav.main-nav.stickytop {
        z-index: 999;
        position:fixed;
        top:0;
        width:59.955%;
        margin-top: 0px;
        width:100%;
    }

    .sobaka{
     position:fixed; top:772px; left:1600px;
 }



    .levo.sticklev{
        position:absolute; top:430px; left:0px;
    }

    .pravo.stickprav{
        position:absolute; top:430px; right:0px;
    }


/*
     .gallery { 
        width:100%; margin:0; padding:0; table-layout:fixed; border-spacing:7px; margin-top: 9px; }
        .gallery td { 
            width:200px; height:207px; padding:0px; text-align:center;
            background-color:#F0F0F0; border-radius:6px; border:1px solid #000000; }
            .gallery img { 
                width:100%; height:100%; max-width:100%; max-height:100%;  cursor:pointer; margin-bottom: -4px;}
                .new_image { 
                    position:absolute; cursor:pointer; margin:0; } 
                    */

                    html {
                      height: 100%;
                  }

                  body{
                    width: 100%;
                    height:100%;
                    background: url(bgrnd/welcome-bg2.png);
                    background-attachment: fixed;
                    margin: 0;
                }

                body.stick{
                    margin-top: 60px;
                }

                .container {
                 width: 1140px;
                 margin: 0 auto;
             }

             header {
                 text-align: center;
                 background: #262626;
                 height: 160px;
                 font-family: 'Finger Paint', cursive;
                 font-size: 35px;
                 text-align: center;
                 width:100%;
                 height: 130px;
                 margin:0 auto;
             }

             footer{
               
                background: #262626;
                width:100%; 
                height:120px;

           
            }
      
        .main_content {
            visibility: hidden;
            background: url(bgrnd/25-Amnesia.png);
            
            height: 1100px;
            width: 1140px;
            margin: 0 auto;
            
        }



    @media screen and (max-width: 1600px) {
     footer {  
        position:absolute; left:14%; 
    }
    nav.main-nav.stickytop {
        z-index: 999;
        width:1140px;
    }
}

@media screen and (max-width: 1366px) {
    footer {  
        position:absolute; left:7.5%; 
    }
    nav.main-nav.stickytop {
        z-index: 999;
        width:1140px;
    }
}



@media screen and (max-width: 1280px) {
 footer {  
    position:absolute; left:10.3%; 
    max-width:1001px;
}

.gallery img { 
    width:100%; height:100%; max-width:100%; 
    max-height:100%;  cursor:pointer; margin-bottom: -5px;
}

.top, .main_content, .container{
    width: 1001px;
}    
nav.main-nav.stickytop {
    z-index: 999;
    width:1140px;
}
}

@media screen and (max-width: 1180px) {
 footer {  
    position:absolute; left:15.3%; 
    max-width:801px;
}
.gallery td { 
   height:150px;
}
.gallery img { 
    width:100%; height:100%;
    cursor:pointer; margin-bottom: -5px;
}
.top, .main_content, .container{
    width: 801px;
} 
nav.main-nav.stickytop {
    z-index: 999;
    width:801px;
}
nav.main-nav a {
    font-size:20px;

}    
}

@media screen and (max-width: 1024px), and (orientation: landscape) {
 footer {  
    position:absolute; left:0%; 
}
nav.main-nav.stickytop {
    z-index: 999;
    width:1001px;
}
.top, .main_content, .container{
    width: 1001px;
} 
}

@media screen and (max-width:568px), and (orientation: landscape) {
 .gallery, .soderzhanie{display:none;
 }
 footer {  
    position:absolute; left:0%; 
    width:100%;
}
nav.main-nav.stickytop {
    z-index: 999;
    width:100%;
}
.top, .main_content, .container{
    width: 100%;
} 
nav.main-nav a{
    font-size: 0.9em;
    padding:1.4em 1.2em;
    height:20px;
}
}

@media screen and (max-width: 320px), and (orientation: portrait) {
 .gallery, .soderzhanie{display:none;
 }
 footer {  
    position:absolute; left:0%; 
    width: 100%;
}
nav.main-nav.stickytop {
    z-index: 999;
    width:100%;
}
.top, .main_content, .container{
    width: 100%;
} 
nav.main-nav a{
    font-size: 0.9em;
    padding:1.4em 0.45em;
    height:20px;
}
}

