@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico|Dancing+Script|Architects+Daughter|Orbitron:400,700,900|Bangers|Chewy|Gloria+Hallelujah|Kaushan+Script|Lobster+Two|Russo+One|Satisfy|Covered+By+Your+Grace|Roboto+Mono|Courgette|Fredoka+One|Permanent+Marker|Rock+Salt|Cookie|Special+Elite|Lobster|Damion|Black+Ops+One|VT323|Fredericka+the+Great|Ceviche+One|Fontdiner+Swanky|Finger+Paint|Monoton|Rochester|Grand+Hotel|Slackey);

nav a.active, nav a:hover {
background:#ecf0f1;
color:#27ae60;
}

nav.main-nav {
    background:#fff;
    height:60px;
    border-bottom:1pxsolid#dadada;
    text-align: center;
    border-radius: 9px;
}

nav.main-nav a {
    font-family:'Lato',sans-serif;
    font-size:20px;
    height:30px;
    text-decoration:none;
    display:inline-block;
    padding:15px 19px;
    color:#27ae60;
}

.menu {
    display: inline;
    margin:0 auto;
}

nav.main-nav.stickytop {
    position:fixed;
    top:0;
    width:59.95%;
}

.sobaka{
	position:fixed; top:772px; left:1600px;
}

.levo{
	position:absolute; top:-30px; left:0px;
}

.pravo{
	position:absolute; top:-40px; right:0px;
}

.levo.sticklev{
    position:absolute; top:430px; left:0px;
}

.pravo.stickprav{
    position:absolute; top:430px; right:0px;
}

.p1 {font-family: 'Finger Paint', cursive;
font-size: 20px;}

.pismo{
	position:fixed; top:700px; left:1600px;
	padding:0px;
}

.gallery { 
    width:100%; margin:0; padding:0; table-layout:fixed; border-spacing:7px; }
.gallery td { 
    width:200px; height:140px; padding:5px; text-align:center;
   background-color:#F0F0F0; border-radius:6px; border:1px solid #000000; }
.gallery img { 
    max-width:100%; max-height:100%; cursor:pointer; }
.new_image { 
    position:absolute; cursor:pointer; }

   .spoiler_desc {
    background: #333333;
    padding: 0px 5px;
    border-radius: 0px 0px 5px 5px;
}
.spoiler_desc>p {
    cursor: text;
    color: #FFFFFF;
    margin: 4px;
}
.spoiler_close {
    display: none;
    position: absolute;
}
.spoiler_open {
    display: block;
    margin: 5px 0px 0px 15px;
    outline: none;
    float: left;
    position: relative;
    overflow: hidden;
}
.spoiler_close, .spoiler_open {
    height: 23px;
    width: 240px;
    top: 0px;
    left: 0px;
    background: #FFFF66;
    border-radius: 5px 5px 0px 0px;
    text-indent: 10px;
    cursor: default;
    border-bottom: 1px dotted #000000;
}
.spoiler_close:hover, .spoiler_open:hover { 
    background: #F5FF27; 
}
.spoiler_open:focus {
    overflow: visible;
    background: #333333;
    padding: 0px;
    border-radius: 7px 7px 5px 5px;
    border-bottom: none;
}
.spoiler_open:focus .spoiler_close { display: block; }
.spoiler_open:focus:before { display: none; }

html {
  height: 100%;
}

body{
    max-width: 100%;
	background: url(1.1.1.1.1.jpg);
	background-attachment: fixed;
    margin: 0;
}

body.stick{
    margin-top: 60px;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

header {
	text-align: center;
}

footer{
    position:absolute; left:20%;
    background: url(footer1.jpg);
    width:60%;
    height:150px;
    margin: 0px;
    border-radius: 9px 9px 0px 0px;
}
.top {
	font-family: 'Finger Paint', cursive;
	font-size: 35px;
	text-align: center;
	background: url(1.jpg);
	width:1140px;
	height: 150px;
	margin:0 auto;
    border-radius: 9px;
}

hr {
	border-color: deepskyblue;
    border-radius: 9px;
}
.main_content {
    background: url(fondo_contacto.jpg);
    border-radius: 9px;
    height: 700px;
	width: 1140px;
	margin: 0 auto;

}

